<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templateCSSNight.css">
    <title>Astronomical Times - Moon</title>
</head>
<body>
<div class="container">
    <div class="header">
        <span>April 16, 2019</span>
    </div>
    <div class="navigation">
        <button id="nav-left-button" onclick="window.location.href = 'templateHTMLSun.html'">Sun Times</button>
        <button id="nav-center-button" onclick="window.location.href = 'templateHTMLMoon.html'">Moon Times</button>
        <button id="nav-right-button" onclick="window.location.href = 'templateHTMLEclipse.html'">Solar Eclipse</button>
    </div>
    <div class="content">
        <div>Moon Rise: 4:49 PM</div>
        <div>
            IMAGE
        </div>
        <div>Phase: Waxing Gibbous</div>
        <div>Moon Set: 5:15 AM (Apr 17)</div>
    </div>
    <div class="footer">
        <div>Missouri State University - CSC 515 - Spring 2019</div>
        <div>Authors: Carmen Creswell, Kristopher Kvenvold, Hailey Martinelli, Tiffany Wortham</div>
    </div>
</div>

</body>
</html>