@charset "utf-8";

/*======================================
Fonts
======================================*/

/*--------------------------------------
Bree Serif
--------------------------------------*/

/*Normal*/
@font-face {
    font-family: "Bree Serif";
    font-weight: normal;
    font-style: normal;
    src: url(/font/BreeSerif-Regular.ttf);
}

/*---------------------------------------
Heebo
--------------------------------------*/
/*Thin Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 100;
    font-style: normal;
    src: url("font/Heebo-Thin.ttf");
}

/*Light Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 300;
    font-style: normal;
    src: url("font/Heebo-Light.ttf");
}

/*Normal Font*/
@font-face {
    font-family: "Heebo";
    font-weight: normal;
    font-style: normal;
    src: url("font/Heebo-Regular.ttf");
}

/*Medium Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 500;
    font-style: normal;
    src: url("font/Heebo-Medium.ttf");
}

/*Bold Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 700;
    font-style: normal;
    src: url("font/Heebo-Bold.ttf");
}

/*Extra Bold Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 800;
    font-style: normal;
    src: url("font/Heebo-ExtraBold.ttf");
}

/*Black Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 900;
    font-style: normal;
    src: url("font/Heebo-Black.ttf");
}

/*======================================
Colors
======================================*/
:root {
    --header-footer: #000000;
    --font-color: #FFFFFF;
    --content-color: #666666;
    --background-color: #333333;
    --button-background-color: #444444;
    --button-background-hover-color: #777777;
    --button-background-active-color: #AAAAAA;
    --button-font-color: #FFFFFF;
    --button-font-hover-color: #000000;
    --button-font-active-color: #EEEEEE;
}

/*======================================
Body
======================================*/

html {
    font-size: 100%;
    font-family: Heebo, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

.container {
    width: 80%;
    max-width: 1600px;
    min-width: 600px;
    margin: auto;
    padding: 2%;
}

.header {
    background: var(--header-footer);
    padding: 10px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.navigation {
    background: var(--content-color);
    text-align: center;
    margin: auto;
}

.content {
    padding: 5%;
    background: var(--content-color);
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 2.5em;

}

.footer {
    font-weight: 300;
    background: var(--header-footer);
    padding: 10px;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

/*======================================
Parts
======================================*/
button {
    font-family: Heebo, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    padding: 0.5em 2em;
    background-color: var(--button-background-color);
    color: var(--button-font-color);
    border: none;
    border-radius: 0 0 1em 1em;
    margin: 0 1em 0 1em;
}

button:hover {
    background-color: var(--button-background-hover-color);
    color: var(--button-font-hover-color);
}

button:active {
    background-color: var(--button-background-active-color);
    color: var(--button-font-active-color);
}

button:focus {
    outline: 0;
}

button#left-button {

}

button#center-button {

}

button#right-button {

}