<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="templateCSS.css">
    <title>Astronomical Times</title>
</head>
<body>
<div class="container">
    <div class="header">
        <span>April 16, 2019</span>
    </div>
    <div class="navigation">
        <button id="left-button">Sun Times</button>
        <button id="center-button">Moon Times</button>
        <button id="right-button">Solar Eclipse</button>
    </div>
    <div class="content">
        <div>Sunrise: 6:38 AM</div>
        <div>IMAGE</div>
        <div>Sunset: 7:79 PM</div>
    </div>
    <div class="footer">
        <div>Missouri State University - CSC 515 - Spring 2019</div>
        <div>Authors: Carmen Creswell, Kristopher Kvenvold, Hailey Martinelli, Tiffany Wortham</div>
    </div>
</div>

</body>
</html>