@charset "utf-8";

/*======================================
Fonts
======================================*/

/*--------------------------------------
Bree Serif
--------------------------------------*/

/*Normal*/
@font-face {
    font-family: "Bree Serif";
    font-weight: normal;
    font-style: normal;
    src: url("./font/BreeSerif-Regular.ttf");
}

/*---------------------------------------
Heebo
--------------------------------------*/
/*Thin Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 100;
    font-style: normal;
    src: url("./font/Heebo-Thin.ttf");
}

/*Light Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 300;
    font-style: normal;
    src: url("./font/Heebo-Light.ttf");
}

/*Normal Font*/
@font-face {
    font-family: "Heebo";
    font-weight: normal;
    font-style: normal;
    src: url("./font/Heebo-Regular.ttf");
}

/*Medium Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 500;
    font-style: normal;
    src: url("./font/Heebo-Medium.ttf");
}

/*Bold Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 700;
    font-style: normal;
    src: url("./font/Heebo-Bold.ttf");
}

/*Extra Bold Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 800;
    font-style: normal;
    src: url("./font/Heebo-ExtraBold.ttf");
}

/*Black Font*/
@font-face {
    font-family: "Heebo";
    font-weight: 900;
    font-style: normal;
    src: url("./font/Heebo-Black.ttf");
}

/*======================================
Colors
======================================*/
:root {

    /*Background*/
    --content-backgroundColor: #80d6ff;

    /*Font*/
    --header-footer-fontColor: #FFFFFF;
}

/*======================================
Body
======================================*/

html {
    font-size: 100%;
    font-family: Heebo, sans-serif;
}

body {
    background-color: #000a12;
    color: #FFFFFF;
}

.container {
    width: 80%;
    max-width: 1600px;
    min-width: 600px;
    margin: auto;
    padding: 2%;
    color: var(--header-footer-fontColor);
}

.header {
    background: #263238;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.navigation {
    background: #37474f;
    text-align: center;
    margin: auto;
}

.contentDay {
    padding: 5%;
    background: #80d6ff;
    color: #000000;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 2.5em;
}

.contentNight {
    padding: 5%;
    background: #000066;
    color: #FFFFFF;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 2.5em;
}


.footer {
    font-weight: 300;
    background: #263238;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    text-align: center;
}

/*======================================
Parts
======================================*/
button {
    font-family: Heebo, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 2em;
    background-color: #455a64;
    color: #FFFFFF;
    border: none;
    border-radius: 1em;
    margin: 0.5em;
}

button:hover {
    background-color: #1c313a;
    color: #FFFFFF;
}

button:active {
    background-color: #718792;
    color: #000000;
}

button:focus {
    outline: 0;
}

div#moonImage {
    position: relative;
}

div#moonPhase {
    position: absolute;
    bottom: 190px;
    left: 265px;
    font-size: 0.75em;
}

div#eclipseHolder {
    margin: 0 10% 0 10%;
    text-align: left;
}

ul {
    font-size: 0.75em;
    text-align: left;
}

#loader {
    border: 8px solid #FFFFFF;
    border-top: 8px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 750ms linear infinite;
    margin: auto;
}

#loading {
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 2%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}